REQUIREMENTS:
- Create Database that can hold hockey contests
    - Long term: Database that can hold sports from any contest
- Pull Daily Hockey contests and store
    - Long term: pull contests for all sports and store
- Create tables for holding contest results
    - Additional Piece: Should we store results in a CSV form as well since contests are only available on DK website for a week or so?
- Login to Draft kings so we can pull contest results from Hockey
    - LT: Pull contest results from any sport


CONTINUOUS:
- update readme


DONE:


